
/* 주문서 */
.title_wrap {position:relative;width:100%}
.title_wrap .sub_area {position:absolute;top:0;right:0;font-size:12px;color:#888;white-space:nowrap;}
.title_wrap .sub_area label {color:#333;white-space:nowrap;}
.title_wrap .sub_area input[type="checkbox"] {width:12px;height:12px;margin-right:5px;background:none;-webkit-appearance:checkbox;-webkit-appearance:checkbox;vertical-align:middle;}
.sub-title2 em.gift{color:#f7a341;font-size:12px;font-weight:700;font-style:normal;padding-left:10px}
.tbl_inp_form {width:100%;}
.tbl_inp_form tbody th {background:#f4f4f4;padding:15px 0 15px 18px;text-align:left;color:#222;border-bottom:1px solid #e6e6e6}
.tbl_inp_form tbody td {padding:15px 20px;border-bottom:1px solid #e6e6e6;font-size:14px;color:#222;line-height:28px}
.tbl_inp_form tbody td input[type="radio"] {vertical-align:middle}
.tbl_inp_form tbody tr:first-child th,
.tbl_inp_form tbody tr:first-child td {border-top:2px solid #d6d6d6}
.tbl_inp_form tbody td .addr_box {width:500px;min-height:28px;margin:6px 0;padding:5px 10px;border:1px solid #ccc;background:#f8f8f8;border-radius:5px;font-size:12px;line-height:20px}
.tbl_inp_form tbody td .addr_box .addr_new {}
.tbl_inp_form tbody td .addr_box .addr_old {color:#888}
.tbl_inp_form tbody td .addr_box .addr_old .tx_tit {margin-right:-11px;letter-spacing:11px}
.tbl_inp_form tbody td .chk_area {display:inline-block;line-height:20px;margin-left:20px;font-size:12px;white-space:nowrap;}
.tbl_inp_form tbody td .tx_info {margin:10px 0 0;line-height:16px;font-size:12px;color:#222}
.tbl_inp_form tbody th.gray_line,
.tbl_inp_form tbody td.gray_line {border-top:2px solid #888 !important}
.tbl_inp_form tbody td input[type="checkbox"] {width:12px;height:12px;margin-right:5px;background:none;-webkit-appearance:checkbox;-webkit-appearance:checkbox;vertical-align:middle;}
.tbl_inp_form tbody td input[type="radio"] {width:12px;height:12px;margin-right:7px;background:none;-webkit-appearance:radio;-webkit-appearance:radio;vertical-align:middle;}

.tbl_inp_form tbody td .hide_box {display:none}
.tbl_inp_form tbody td .hide_box.show {display:block;margin-top:5px}

.tbl_inp_form tbody td .inp_point_wrap {display:inline-block;width:225px}
.tbl_inp_form tbody td .inp_point_wrap .inpH28{margin-right:3px;}

/* 전담팀 start */
.tbl_inp_form tbody .sumtr1 th{padding:15px 20px 5px;border-bottom:0px solid #e6e6e6}
.tbl_inp_form tbody .sumtr1 td{padding:15px 20px 5px;border-bottom:0px solid #e6e6e6}
.tbl_inp_form tbody .sumtr2 th{padding:5px 20px 10px;}
.tbl_inp_form tbody .sumtr2 td{padding:5px 20px 10px;}
.tbl_inp_form tbody .info_security{margin-top:10px;}
.tbl_inp_form tbody .info_security > button{color:#777;font-size:12px;font-weight:normal;background:none;}
.tbl_inp_form tbody .info_security > button:before,
.tbl_inp_form tbody .info_security > button:after{display:inline-block;content:'';vertical-align:middle;}
.tbl_inp_form tbody .info_security > button:before{width:18px;height:18px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/project/icon_01.png") no-repeat;margin:0 5px 3px 0;}
.tbl_inp_form tbody .info_security > button:after{width:4px;height:5px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/project/icon_02.png") no-repeat;margin:0 0 3px 5px;}
/* 전담팀  end  */

.tbl_inp_form.type2 tbody td {padding:0}
.tbl_inp_form.type2 tbody td > div {position:relative;width:100%;padding:15px 20px}
.tbl_inp_form.type2 tbody td > div+div {border-top:1px solid #e6e6e6}
.tbl_inp_form.type2 tbody td > div > label {margin-right:40px}
.tbl_inp_form.type2 tbody td .tx_right {position:absolute;top:50%;right:20px;margin-top:-10px;height:20px;line-height:20px}
.tbl_inp_form.type2 tbody td .tx_discount {color:#f47330;font-size:16px;}
.tbl_inp_form.type2 tbody td .tx_discount2 {color:#f47330;font-size:14px;}
.tbl_inp_form.type2 tbody td .tx_discount3 {color:#888}
.tbl_inp_form.type2 tbody td .btnSmall {width:70px}
.tbl_inp_form.type2 tbody td .tx_point_info {margin:10px 0 0;font-size:12px;color:#888;line-height:1.0}
.tbl_inp_form.type2 tbody td .tx_point_info a {display:inline-block;margin-left:10px;padding-right:10px;color:#969937;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow5x10_green.png") no-repeat 100% 0;font-weight:700}
.tbl_inp_form.type2 tbody td .tx_num {margin-right:1px;margin-left:3px;}

.tbl_inp_form.no_line tbody tr:first-child th,
.tbl_inp_form.no_line tbody tr:first-child td {border-top:0} 

.tbl_inp_form.important tbody td {padding-left:36px}
.tbl_inp_form.important tbody td.imp_data {background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_star6x5.png") no-repeat 20px 25px}

.gift_sel_list {border-top:2px solid #d6d6d6}
.gift_sel_list > li {position:relative;width:100%;padding:15px 30px 15px 40px;color:#888;border-bottom:1px solid #e6e6e6}
.gift_sel_list > li .gift_cont {color:#969937}
.gift_sel_list > li .gift_name {font-size:12px;color:#666;}
.gift_sel_list > li span {position:absolute;top:17px;left:10px;width:16px;height:16px;font-size:12px;color:#fff;background-color:#969937;border-radius:5px;text-align:center;line-height:16px}
.gift_sel_list > li .no_gift_wrap {position:absolute;top:0;left:0;width:100%;height:100%;padding-left:25px;line-height:70px;background:rgba(230,230,230, 0.4) url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_info.png") no-repeat 420px 50%;color:#666;font-size:14px;text-align:center}

.order_payment_box {overflow:hidden;width:100%;right: 0;}
.order_payment_box .left_area {float:left;width:780px}
.order_payment_box .right_area {float:right;width:300px;}
/*.order_payment_box .right_area.fixed_box {position:fixed;right:50%;top:0;margin-left:-210px;overflow:hidden}*/

.order_payment_box.relArea {position:relative}

.order_payment_box.fixArea .right_area {position:fixed;left:50%;top:0;margin-left:210px;overflow:hidden;}
.order_payment_box.relArea .right_area {position:absolute;left:50%;bottom:0;margin-left:210px;overflow:hidden;z-index:1;}
.order_payment_box.areaCless .right_area {position:static;margin-left:0 ;}

.order_payment_box .btnSmall {width:70px}
.order_payment_box .bg_area {background:#fcfcfc}
.order_payment_box .payment_info_form {border-top:2px solid #888}
.order_payment_box .payment_info_form > li {overflow:hidden;border-top:1px solid #e6e6e6}
.order_payment_box .payment_info_form > li:first-child {padding:10px 0;border-top:0}
.order_payment_box .payment_info_form > li > span {float:left;width:175px;padding:0 20px;line-height:35px;color:#222}
.order_payment_box .payment_info_form > li input[type="radio"] {width:12px;height:12px;margin-right:5px;background:none;-webkit-appearance:radio;-webkit-appearance:radio;vertical-align:middle;}

.order_payment_box .other_cash_box {border-bottom:1px solid #e6e6e6}
.order_payment_box .other_cash_box .cash_inquiry_area {position:relative;width:100%;min-height:57px;padding:18px 20px;color:#222;border-bottom:1px solid #e6e6e6}
.order_payment_box .other_cash_box .cash_inquiry_area .cash_price {color:#f47330}
.order_payment_box .other_cash_box .cash_inquiry_area .tx_info {font-size:12px}
.order_payment_box .other_cash_box .cash_inquiry_area button {position:absolute;top:14px;right:20px}
.order_payment_box .other_cash_box > ul {padding:20px}

.order_payment_box .total_payment_box {padding:10px 0;border:2px solid #666}
.order_payment_box .total_payment_box > li {overflow:hidden;padding:0 20px;line-height:32px;color:#222}
.order_payment_box .total_payment_box > li .tx_tit {float:left;width:140px}
.order_payment_box .total_payment_box > li .tx_tit .tx_num {font-weight:400 !important}
.order_payment_box .total_payment_box > li .tx_cont {float:right;font-weight:700}
.order_payment_box .total_payment_box > li .tx_cont .tx_num {margin-right:1px}
.order_payment_box .total_payment_box > li .btnSmall {margin:2px 0 0 10px}
.order_payment_box .total_payment_box > li.line_top {border-top:1px solid #e6e6e6;margin-top:10px;padding-top:10px}
.order_payment_box .total_payment_box > li.line_top2 {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;margin:10px 0;padding:10px 20px}
.order_payment_box .total_payment_box > li.detail {margin:5px 0 0;font-size:12px;color:#888;line-height:20px}
.order_payment_box .total_payment_box > li.detail+li.detail {margin:0}
.order_payment_box .total_payment_box > li.detail .tx_tit {padding-left:13px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_L7x7.png") no-repeat 0 3px}
.order_payment_box .total_payment_box > li.detail .tx_cont .tx_num {margin-right:1px}
.order_payment_box .total_payment_box > li.total {border-top:1px solid #888;margin-top:10px;padding:20px 20px 10px}
.order_payment_box .total_payment_box > li.total .tx_tit {width:110px;font-size:16px;font-weight:700}
.order_payment_box .total_payment_box > li.total .tx_cont {color:#D81159;font-size:16px}
.order_payment_box .total_payment_box > li.total .tx_num {font-size:24px;margin-right:2px;vertical-align:-2px}
.order_payment_box .total_payment_box > li.staff_total {border-top:1px solid #e6e6e6;margin:5px 0;padding-top:15px}
.order_payment_box .total_payment_box > li.staff_total .tx_tit {line-height:20px}
.order_payment_box .total_payment_box > li.staff_total .tx_cont {line-height:20px}
.order_payment_box .total_payment_box > li.staff_total .find{padding:8px 15px 3px 0;position:relative;background:none;color:#999999;font-size:12px;line-height:18px;}
.order_payment_box .total_payment_box > li.staff_total .find:after{content:'';display:block;width:5px;height:10px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_order01.gif") no-repeat 0 0;position:absolute;top:13px;right:0}
.order_payment_box .total_payment_box > li.staff_total .find:before{content:'';display:block;width:150px;height:1px;background:#aaa;position:absolute;bottom:0;left:0;}
.order_payment_box .total_payment_box > li.staff_total > p {clear:both;font-size:12px;color:#888;line-height:18px;padding:7px 0 0 0}
.order_payment_box .total_payment_box > li .btnPayment {width:100%;padding:17px 0 15px;margin:10px 0;border-radius:5px;font-size:18px;color:#fff;background:#0E8CE4;line-height:18px}
.order_payment_box .total_payment_box > li .btnPayment em{font-size:12px;font-weight:normal;font-style:normal;display:block;}

.agree_payment_box {margin:20px 0 0;border:1px solid #e6e6e6;background:#f6f6f6}
.agree_payment_box .all_agree_cont {position:relative;width:100%;padding:20px;font-size:14px;color:#222}
.agree_payment_box .all_agree_cont > p {margin-bottom:15px}
.agree_payment_box .all_agree_cont label {font-weight:700}
.agree_payment_box .all_agree_cont input[type="checkbox"] {width:12px;height:12px;margin-right:5px;background:none;-webkit-appearance:checkbox;-webkit-appearance:checkbox;vertical-align:middle;}
.agree_payment_box .all_agree_cont .btnDetailAgree {position:absolute;right:20px;bottom:20px;width:26px;height:16px;text-indent:-9999px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow26x16.png") no-repeat 0 0}
.agree_payment_box .other_agree_cont {display:none;padding:0 0 5px;font-size:12px;color:#666}
.agree_payment_box .other_agree_cont > li {padding:15px 20px;border-top:1px solid #e6e6e6}
.agree_payment_box .other_agree_cont > li .tx_tit {font-size:14px;color:#222;font-weight:700}
.agree_payment_box .other_agree_cont > li .tx_cont {line-height:28px;margin:8px 0 0}
.agree_payment_box .other_agree_cont > li .tx_cont input[type="checkbox"] {width:12px;height:12px;margin-right:5px;background:none;-webkit-appearance:checkbox;-webkit-appearance:checkbox;vertical-align:middle;}
.agree_payment_box .other_agree_cont > li .tx_cont label {display:inline-block;width:150px}
.agree_payment_box .other_agree_cont > li .tx_cont2 {margin:8px 0 0}
.agree_payment_box .other_agree_cont > li .tx_cont2 label {display:inline-block;width:220px}
.agree_payment_box .other_agree_cont > li .tx_cont2 input[type="checkbox"] {width:12px;height:12px;margin:5px 5px 0 0;background:none;-webkit-appearance:checkbox;-webkit-appearance:checkbox}

.agree_payment_box.open .all_agree_cont .btnDetailAgree {background-position:0 -16px}
.agree_payment_box.open .other_agree_cont {display:block}

/*--------------------------------------------------------------------------------------------------------------------*/
/*# sourceURL=https://www.oliveyoung.co.kr/pc-static-root/css/common.css?dumm=2018112458879 */
/*@ sourceURL=https://www.oliveyoung.co.kr/pc-static-root/css/common.css?dumm=2018112458879 */
@charset "utf-8";

/* 여백 */
.mgzero {margin:0 !important;}
.mgTz {margin-top:0 !important;}
.mgBz {margin-bottom:0 !important;}
.mgRz {margin-right:0 !important;}
.mgLz {margin-left:0 !important;}
.mgT5 {margin-top:5px !important;}
.mgT6 {margin-top:6px !important;}
.mgT8 {margin-top:8px !important;}
.mgT10 {margin-top:10px !important;}
.mgT15 {margin-top:15px !important;}
.mgT20 {margin-top:20px !important;}
.mgT25 {margin-top:25px !important;}
.mgT30 {margin-top:30px !important;}
.mgT35 {margin-top:35px !important;}
.mgT40 {margin-top:40px !important;}
.mgT45 {margin-top:45px !important;}
.mgT50 {margin-top:50px !important;}
.mgT60 {margin-top:60px !important;}
.mgL10 {margin-left:10px !important;}
.mgL15 {margin-left:15px !important;}
.mgL20 {margin-left:20px !important;}
.mgL30 {margin-left:30px !important;}
.mgL100 {margin-left:100px !important;}
.mgR20 {margin-right:20px !important;}
.mgR25 {margin-right:25px !important;}

.pdzero {padding:0 !important;}
.pdTz {padding-top:0 !important;}
.pdT5 {padding-top:5px !important;}
.pdT10 {padding-top:10px !important;}
.pdT15 {padding-top:15px !important;}
.pdT20 {padding-top:20px !important;}
.pdT25 {padding-top:25px !important;}
.pdT30 {padding-top:30px !important;}
.pdT35 {padding-top:35px !important;}
.pdT40 {padding-top:40px !important;}
.pdT45 {padding-top:45px !important;}
.pdT50 {padding-top:50px !important;}
.pdT60 {padding-top:60px !important;}

.pdB10 {padding-bottom:10px !important;}
.pdB20 {padding-bottom:20px !important;}
.pdB30 {padding-bottom:30px !important;}
.pdL50{padding-left:50px !important}
.pdL60{padding-left:60px !important}
.pdL8{padding-left:8px !important}
.w650{width:650px}
.w480{width:480px}
.w500{width:500px}
.w550{width:550px}
.w340{width:340px}
.w160{width:160px}
/* form*/
input {
	width:100%;
	height:38px;
	margin:0;
	padding:0;
	border:1px solid #d0d0d0;
	color:#888;
	background:none;
	border-radius:5px;
	border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	/*outline:none;*/
	box-shadow:none;
	-webkit-appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	letter-spacing:0.5px;
	vertical-align:top;
}
input[type="text"],
input[type="password"],
input[type="tel"] {
	padding:0 10px;
	background-color:#fff;
	font-size:14px;
	line-height:20px;
	color:#888;
}

input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear,
input[type="tel"]::-ms-clear {
	display:none
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus{
	color:#333;
	border:1px solid #969937;
}
input[type="submit"],
button {border:0;padding:0;box-shadow:none;cursor:pointer;}

textarea {
	border:1px solid #ccc;
	padding:10px 8px;
	border-radius:5px;
	resize:none;
	font-family:'AppleGothic', 'Roboto', 'montserrat', 'noto', sans-serif;
	font-size:14px;
	line-height:20px;
	box-shadow:none;
	box-sizing:border-box;
	-webkit-appearance:none;
	/*outline:none;*/
}
select {
	width:100%;
	height:38px;
	padding:0 0 0 8px;
	border:1px solid #d0d0d0;
	border-radius:5px;
	font-size:14px;
	line-height:18px;
	font-family:'AppleGothic', 'Roboto', 'montserrat', 'noto', sans-serif;
	color:#333;
	/*vertical-align:middle;*/
	/*outline:none;*/
}

input.inpH28 {height:28px;padding:0 10px;font-size:12px;border-color:#ccc;color:#333}
select.selH28 {height:28px;padding:0 0 0 5px;font-size:12px;border-color:#ccc}
input.inpH28:focus,
select.selH28:focus {border-color:#969937}

select:disabled,
input:disabled,
input:read-only {background-color:#f8f8f8;color:#888;}

/* 체크박스,라디오  */
input[type="checkbox"],
input[type="radio"] {
	width:20px;
	height:20px;
	border:0 !important;
	padding:0;
	font-size:0;
	line-height:0;
	margin-right:8px;
	vertical-align:top;
	cursor:pointer;
	-webkit-appearance:none;
	-webkit-appearance:none;
}
input[type="checkbox"] { /* 체크박스 기본 */
	background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat 0 0;
}
input[type="checkbox"]:checked {/* 체크박스 체크되었을 때 */
	background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat -20px 0;
}
input[type="checkbox"]:disabled,/* 체크박스 비활성화 일 때 */
input[type="checkbox"]:read-only {background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat -20px -20px;}
input[type="checkbox"]:checked:disabled,/* 체크박스 체크된 상태로 비활성화 일 때 */
input[type="checkbox"]:checked:read-only {background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat 0 -20px;}

input[type="radio"] { /* 라디오 기본 */
	border-radius:20px;
	background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat 0 -40px;
}
input[type="radio"]:checked { /* 라디오 체크되었을 때 */
	background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat -20px -40px;
}
input[type="radio"]:disabled,/* 라디오 비활성화 일 때 */
input[type="radio"]:read-only {	background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat -20px -60px;}

input[type="radio"]:checked:disabled,/* 라디오 체크된 상태로 비활성화 일 때 */
input[type="radio"]:checked:read-only {background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/icon_chk_radio.png") no-repeat 0 -60px;}

input[type="checkbox"]:checked + label {color:#333;}
input[type="radio"]:checked + label {color:#333;}

input.input-radio {width:13px;height:13px;margin:2px 2px 0 0;-webkit-appearance:radio !important;-moz-appearance:radio !important;-webkit-appearance:radio !important;border:1px solid #b8b8b8 !important;vertical-align:middle;}
input.input-check {width:13px;height:13px;margin:2px 2px 0 0;-webkit-appearance:checkbox;-moz-appearance:checkbox;-webkit-appearance:checkbox;border:1px solid #b8b8b8 !important;vertical-align:middle;}

/* 버튼 리셋 */
button {text-align:center;color:#fff;}

.btnGreen, a.btnGreen {width:100%;height:50px;background-color:#969937;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnGray, a.btnGray {width:100%;height:50px;background-color:#888;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnLgray {display:block;width:88px;padding:7px 0;border:1px solid #ddd;border-radius:5px;background-color:#f6f6f6;font-size:14px;line-height:20px;color:#969937;text-align:center;border-radius:5px}
.btnGreenW, a.btnGreenW {width:100%;height:50px;background-color:#fff;border:1px solid #969937;padding:11px 0 9px;font-size:16px;line-height:28px;color:#969937;border-radius:5px}
.ButtonDelete {width:19px;height:19px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_delete19x19.png") no-repeat 0 0;font-size:0;text-indent:-99999px;line-height:0;}
.input-delete {position:relative;height:38px;}
.input-delete .ButtonDelete {position:absolute;top:9px;right:15px;}

.btnMedium {height:38px;padding:0 10px;font-size:14px !important;line-height:38px;border-radius:5px}
.btnSmall {height:28px;padding:0 5px;font-size:12px !important;line-height:28px;border-radius:5px}

.btnOrange, a.btnOrange {width:100%;height:50px;background-color:#f7a341;padding:11px 0 9px;font-size:18px;line-height:30px;border-radius:5px}
.btnOrangeW, a.btnOrangeW {width:100%;height:50px;background-color:#fff;border:1px solid #f7a341;padding:11px 0 9px;font-size:16px;line-height:28px;color:#f7a341;border-radius:5px}

.btnMedium.wGray,
.btnSmall.wGray {border:1px solid #aaa;color:#666;background:#fff}
.btnMedium.wGreen,
.btnSmall.wGreen {border:1px solid #969937;color:#969937;background:#fff}
.btnMedium.fullGreen,
.btnMedium.fullGreen2,
.btnSmall.fullGreen,
.btnSmall.fullGreen2 {background:#969937;color:#fff}
.btnMedium.fullGray,
.btnSmall.fullGray {background:#ccc;color:#fff}
.btnMedium.fullDgray,
.btnSmall.fullDgray {background:#999;color:#fff}
.btnMedium.fullOrange,
.btnSmall.fullOrange {background:#f7a341;color:#fff}
.btnMedium > span {display:inline-block;min-width:80px}
.btnSmall > span {display:inline-block;min-width:40px}
.btnSmall.type2 {padding:0 15px}
.btnSmall.wGray2 {border:1px solid #aaa;color:#fff;background:#aaa}
.btnSmall.wGray3 {border:1px solid #a4abb9;color:#fff;background:#a4abb9}
.btnSmall.wGray3cancle {border:1px solid #a4abb9;color:#7c8598;background:#fff}
.btnSmall.wOrange {border:1px solid #f7a341;color:#fff !important;background:#f7a341}
.btnGift{color:#222;font-size:14px;background:none;}
.btnGift:after{content:'';display:inline-block;width:18px;height:18px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/project/icon_01.png") no-repeat;margin:0 0 3px 4px;vertical-align:middle;}

.btnMedium.w210 {width:210px}
.btnSmall.w100 {width:100px !important}

.btnOnLayer {width:170px;height:60px;font-size:16px;border-radius:5px;}
.btnOnLayer.fullGreen,
.btnOnLayer.fullGreen2 {background:#ccce00;color:#fff}
.btnOnLayer.wGreen {background:#fff;border:1px solid #ccce00;color:#ccce00}

.btnLwhite {display:inline-block;height:40px;border:2px solid #fff;padding:8px 28px;border-radius:20px;background-color:transparent;font-size:14px;font-weight:bold;text-align:center;color:#fff}
.btnLwhite::after {content:'';display:inline-block;width:8px;height:13px;padding-left:10px;background:url("https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow8x13_wt.png") no-repeat right 0;vertical-align:-1px}
.btnLwhite:focus {border:2px solid #fff;}

/* 버튼 영역 */
.area1sButton {padding:10px 0 0;text-align:center;}
.area2sButton {padding:20px 0 0;text-align:center;}
.area3sButton {margin:20px 0 0;padding:30px 0 0;border-top:1px solid #e6e6e6;text-align:center;}
.area1sButton a.btnGray, .area1sButton a.btnGreenW, .area1sButton a.btnGreen {display:inline-block;width:150px;margin:0 2px;box-sizing:border-box;}
.area2sButton .btnGray, .area2sButton .btnGreenW, .area2sButton .btnGreen,
.area2sButton a.btnGray, .area2sButton a.btnGreenW, .area2sButton a.btnGreen {display:inline-block;width:100px;margin:0 2px;box-sizing:border-box;height:38px;font-size:14px;}
.area3sButton .btnGray, .area3sButton .btnGreenW, .area3sButton .btnGreen,
.area3sButton a.btnGray, .area3sButton a.btnGreenW, .area3sButton a.btnGreen {display:inline-block;width:100px;margin:0 2px;box-sizing:border-box;height:38px;font-size:14px;}
.area1sButton a.btnGreen, .area1sButton a.btnGray, .area2sButton a.btnGreen, .area1sButton a.btnGray, .area3sButton a.btnGreen, .area3sButton a.btnGray {color:#fff;font-weight:700}
.area1sButton a {padding:9px 0 0;}
.area2sButton a, .area3sButton a {padding:3px 0 0 !important;}
.area1sButton button, .area2sButton button, .area3sButton button {margin:0 2px;padding:2px 0 0 !important;}
.ButtonBasic,
.ButtonBasic:hover,
.ButtonBasic:active{display:inline-block;min-width:50px;height:28px;padding:0 10px;border-radius:5px;border:1px solid #888;background:#fff;color:#666;font-size:12px;}
.area1sButton .btnGreen.w160 {width:160px;height:40px;padding:5px 0 0;font-size:16px;}
a.ButtonBasic {line-height:27px}
a.w150, button.w150 {width:150px !important;}
.ButtonBasic.w106 {width:106px !important;padding:0}
.ButtonBasic.w140 {width:140px !important;}
td.select-w200 select {width:200px !important;}

/* 텍스트 */
.common1s-text {margin:0;padding:58px 0 0;color:#333;font-size:18px;text-align:center;line-height:22px;}
.common2s-text {margin:0;padding:30px 0 0;color:#333;font-size:16px;text-align:center;line-height:22px;}
.common3s-text {margin:0;padding:25px 0 0;color:#666;font-size:14px;line-height:20px;}
.common4s-text {margin:0;padding:15px 0 0;color:#333;font-size:14px;line-height:20px;}
.common5s-text {margin:16px 0 0;padding:0 0 0 6px;padding:0 0 0 6px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bar_black1x1.gif") no-repeat 0 9px;background-size:2px 1px;color:#333;font-size:12px;line-height:16px;}
.common1s-list {}
.common1s-list .tit {margin:23px 0 0;color:#333;font-size:16px;line-height:22px;}
.common1s-list ul {width:100%;padding:4px 0 0;}
.common1s-list ul li {margin:4px 0 0;padding:0 0 0 6px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bar_black2x2.gif") no-repeat 0 9px;background-size:2px 1px;color:#666;font-size:12px;line-height:20px;}
.scroll-area {overflow-y:auto;min-height:150px;max-height:500px;margin:20px 0 0;}
.scroll-area table {margin-top:0;}

/* 타이틀 박스 */
.titBox {padding:25px 0;}
.titBox.line {padding:14px 0 15px;border-bottom:1px solid #e6e6e6;} /* 밑라인 */
.titBox h1 {font-size:30px;line-height:30px;color:#000;}
.titBox p {margin:10px 0 0;font-size:16px;line-height:26px;color:#666;}

/* TAB */
.TabsConts {display:none;}
.TabsConts.on {display:block;}
.comm1sTabs {overflow:hidden;width:100%;margin:15px 0 0;}
.comm1sTabs.threeSet li {width:33.5%;}
.comm1sTabs.threeSet li:first-child {width:33%;}
.comm1sTabs > li {float:left;width:50%;border-left:1px solid #e3e3e3;border-bottom:2px solid #969937;text-align:center;background:#f6f6f6}
.comm1sTabs > li:first-child {border-left:0}
.comm1sTabs > li > a {display:block;height:50px;padding-top:15px;color:#333;font-size:18px}
.comm1sTabs > li.on {border-left:2px solid #969937;border-top:2px solid #969937;border-right:2px solid #969937;border-bottom:0;background:#fff}
.comm1sTabs > li.on > a {padding-top:13px}
.comm1sTabs > li.on+li {border-left:0}

.comm2sTabs {overflow:hidden;width:100%;margin-top:30px;}
.comm2sTabs > li {float:left;width:50%;height:40px;margin:0 0 0 -1px;background:#fff;box-sizing:border-box;border:1px solid #ddd;}
.comm2sTabs > li:first-child {margin:0;}
.comm2sTabs > li > button {width:100%;height:38px;color:#666;background:#fff;box-sizing:border-box;font-size:14px;line-height:18px;}
.comm2sTabs > li.on {border:2px solid #8f9100;background:#8f9100;}
.comm2sTabs > li.on > button {height:36px;background:#8f9100;color:#fff;}
.comm2sTabs.fiveSet > li {width:205px}
.comm2sTabs.fiveSet > li:first-child {width:204px}
.comm2sTabs.sevenSet > li {width:14.5%;}
.comm2sTabs.sevenSet > li:first-child {width:14%;margin:0;}
.comm2sTabs.sevenSet > li:last-child {width:13.5%;}

.comm3sTabs {}
.comm3sTabs:after {content:'';display:block;clear:both}
.comm3sTabs > li {float:left;margin-left:-1px;border:1px solid #ddd}
.comm3sTabs > li:first-child {margin:0}
.comm3sTabs > li > a {display:block;height:52px;line-height:52px;color:#888;font-size:16px;text-align:center;background:#fff}
.comm3sTabs > li.on > a {position:relative;color:#979900;height:54px;line-height:52px;border:2px solid #babb3b;margin:-1px;z-index:0;font-weight:700}
.comm3sTabs.sixSet > li {width:171px}
.comm3sTabs.sixSet > li:first-child {width:170px}

.comm4sTabs {overflow:hidden;width:100%;margin-top:35px;}
.comm4sTabs > li {float:left;width:50%;height:40px;background:#e6e6e6;box-sizing:border-box;color:#fff;}
.comm4sTabs > li:first-child {margin:0;}
.comm4sTabs > li > button {width:100%;height:38px;color:#666;background:#e6e6e6;box-sizing:border-box;font-size:14px;line-height:18px;color:#666;}
.comm4sTabs > li.on {border:2px solid #8f9100;background:#969937;}
.comm4sTabs > li.on > button {height:36px;background:#969937;color:#fff;}

.comm5sTabs {overflow:hidden;width:1020px;margin:30px auto 0;padding-bottom:5px}
.comm5sTabs li {position:relative;float:left;width:50%;}
.comm5sTabs li button {width:100%;height:50px;background:#f6f6f6;color:#666;font-size:18px;line-height:24px;font-weight:400}
.comm5sTabs li.on button {color:#fff;background:#555 !important}
.comm5sTabs li.on:before {position:absolute;content:'';bottom:-5px;left:50%;width:12px;height:5px;margin-left:-6px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bg_tab_arrow.png") no-repeat 0 0}
.comm5sTabs.tab3 li{width:340px;}
.comm5sTabs.tab3 li button{border-left:1px solid #e6e6e6}
.comm5sTabs.tab3 li:first-of-type{border-left:0;}
.comm5sTabs.tab3 li +li{width:341px;margin-left:-1px;}
.comm6sTabs {overflow:hidden;width:100%;padding:10px 0 0;}
.comm6sTabs li {float:left;width:50%;font-size:0;line-height:0;}
.comm6sTabs li a {display:block;width:100%;height:40px;padding:10px 0 0;background:#d0d0d0;color:#fff;font-size:14px;text-align:center;line-height:20px;}
.comm6sTabs li.on a {background:#969937;}

.tabConts {display:none}
.tabConts.show {display:block}

/* 공통 플루트 박스 */
.area-over {overflow:hidden;position:relative;width:100%;}
.area-over .left, .area-over .right {width:380px;}
.area-over .left {float:left;}
.area-over .right {float:right;}

/* 레이어 pop */
.popLayerWrap {display:none;position:fixed;top:0;left:0;width:100%;border-radius:5px;border:2px solid #d0d0d0;z-index:20;}
.popLayerWrap .popLayerArea {overflow:hidden;padding:0 30px;background-color:#fff;}
.popLayerWrap .popLayerArea .popHeader {position:relative;padding:24px 0 18px;border-bottom:2px solid #878787;}
.popLayerArea .popHeader h1 {font-size:24px;line-height:30px;color:#4c4c4c;}
.popLayerArea .popHeader .btnClose {position:absolute;top:25px;right:0;width:21px;height:21px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/btn_pop_close.png") no-repeat 0 0;text-indent:-9999px;}
.popLayerArea .popContainer {height:100%;padding:20px 0;}/* 임시 지정, 각 해당 컨텐츠에서 여백 + */
.popLayerArea .popContainer .popCont .btnArea.twoSet {overflow:hidden;text-align:center;}
.popLayerArea .popContainer .popCont .btnArea.twoSet button {display:inline-block;width:auto;text-align:center;font-size:16px}
.dim {display:none;position: fixed;top: 0;right: 0;width: 100%;height: 100%;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bg_dim.png") repeat 100% 100%;content: '';opacity: 1;z-index:10;}


/* 비밀번호 변경안내 팝업 */
.popLayerWrap.wid484 {width:484px;}
.popLayerArea .popContainer .popCont .pwChange {padding:20px 0 16px;text-align:center;}
.popLayerArea .popContainer .popCont .pwChange h2 {padding-top:150px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/login/icon_pw_change.png") no-repeat 50% 0;font-size:24px;line-height:32px;color:#969937;}
.popLayerArea .popContainer .popCont .pwChange p {margin-top:12px;font-size:14px;line-height:20px;color:#333;}
.popLayerArea .popContainer .popCont .pwChange h2+p{margin-top:22px;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet {margin-top:56px;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet button:first-child {width:100px;margin-left:0;}
.popLayerArea .popContainer .popCont .pwChange .btnArea.twoSet button {width:150px;height:40px;line-height:20px;margin-left:10px;}

/* 플래그 */
#Wrapper .FG01, #Wrapper .FG02, #Wrapper .FG03, #Wrapper .FG04 {display:inline-block;width:70px;height:20px;border-radius:10px;color:#fff;font-size:12px;text-align:center;line-height:20px}
#Wrapper .FG01 {background:#969937;}
#Wrapper .FG02 {background:#a68fcd;}
#Wrapper .FG03 {background:#ed95b7;}
#Wrapper .FG04 {background:#f5a031;}



#dim {z-index:10;position:fixed;top:0;left:0;width:100%;height:100%;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/dim4x4.png") repeat 0 0;}


/* slick slider (슬라이더 관련 CSS) */
.slick-slider {position: relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list {position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list.dragging {cursor:pointer;}
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}
.slick-track {position:relative;top:0;left:0;display:block;z-index:1}
.slick-track:before,
.slick-track:after {display:table;content:''}
.slick-track:after {clear:both}
.slick-loading .slick-track {visibility:hidden}
.slick-slide {display:none;float:left;height:100%;min-height:1px}
.slick-initialized .slick-slide {display:block}

.slick-arrow {display:inline-block;width:40px;height:40px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_arrow40x40_2.png") no-repeat 0 0;text-indent:-9999px}
.slick-arrow.slick-prev {background-position:0 0}
.slick-arrow.slick-prev:hover {background-position:0 -40px}
.slick-arrow.slick-next {background-position:-40px 0}
.slick-arrow.slick-next:hover {background-position:-40px -40px}


/* 숫자, 영문 폰트 공통 */
.tx_num {letter-spacing:-0.02em !important;font-weight:700}

/* 썸네일 플래그 관련 */
.thumb_flag {display:inline-block;width:48px;height:48px;font-size:14px;background:#fff;border-radius:24px;border-width:2px;border-style:solid;text-align:center;font-weight:700}
.thumb_flag.best {color:#f05a5e;line-height:44px;border-color:#f05a5e}
.thumb_flag.new {color:#10b7ae;line-height:44px;border-color:#10b7ae}

/* 상품 플래그 관련 */
.prd_flag {overflow:hidden;}
.prd_flag span {float:left;}
.status_flag {display:block;width:100%;height:40px;line-height:40px}
.status_flag.soldout {background-color:rgba(0,0,0,0.2);color:#fff}
.icon_flag {display:inline-block;width:40px;height:18px;border-radius:9px;line-height:17px !important;color:#fff !important;font-size:12px !important;text-align:center;vertical-align:middle;text-decoration:none !important;margin:0 !important}
.icon_flag.sale {background-color:#f65c60}		/* 세일 */
.icon_flag.plus,
.icon_flag.present {background-color:#ff8942}   /* 1+1 & GIFT(신규) */
.icon_flag.coupon {background-color:#c0c200}	/* 쿠폰 */
.icon_flag.gift {background-color:#6fcff7}		/* 증정 */
.icon_flag.free {background-color:#ad85ed}		/* 무배 */
div.soldend85 *{color:#cccccc !important;}/* 판매종료 mypage */
span.soldend85{position:absolute;top:55px;left:0;display:block;width:85px;height:30px;color:#fff !important;font-size:13px;line-height:30px;text-align:center;background-color:rgba(0,0,0,0.6);}/* 판매종료 mypage */


/* 숨김처리 */
.hidde {display:none !important;}
.tabInconts {display:block;}  
.hide {position:absolute;top:-99999px;left:-99999px;font-size:0;visibility:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-99999px;}
body .showConts {display:block !important;}


/* +/- 아이콘 */
.tx_sign {display:inline-block;width:10px;height:10px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_sign_cal.png") no-repeat 0 0;text-indent:-9999px;overflow:hidden;text-align:left}
.tx_sign.plus {background-position:-20px 50%}
.tx_sign.minus {background-position:0 50%}
.tx_sign.equal {background-position:-40px 50%}

.tx_sign2 {display:inline-block;width:30px;height:30px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_sign_cal2.png") no-repeat 0 0;text-indent:-9999px;overflow:hidden}
.tx_sign2.plus {background-position:-30px 0}
.tx_sign2.minus {background-position:0 0}


/* 별점 */
.review_point {display:inline-block;overflow:hidden;width:92px;height:15px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_review_point_off.png") no-repeat 0 0;text-indent:-9999px}
.review_point .point {display:inline-block;float:left;width:auto;height:15px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_review_point_on.png") no-repeat 0 0;line-height:0;}

/* 색상 */
.colorRed {color:#ff2828 !important;}
.colorOrange {color:#FFBC42 !important;font-weight:700}
.colorGrey {color:#888 !important;}
.colorGreen {color:#969937 !important;font-weight:700}
.colorBlack {color:#333 !important;}

/* 검색 */
.commonSearch {width:1020px;height:78px;margin:20px auto 0;padding:20px 0 0;background:#f6f6f6;text-align:center;}
.commonSearch .text-input {position:relative;width:510px;height:38px;margin:0 auto;text-align:left;}
.commonSearch .text-input input[type="text"] {width:510px;padding-right:47px;border-radius:20px;border:1px solid #ddd;}
.commonSearch .text-input input[type="text"]:focus {border-color:#969937;}
.commonSearch .text-input input[type="text"]::-webkit-input-placeholder {letter-spacing:-1px;}
.commonSearch .text-input button {position:absolute;top:2px;right:7px;width:30px;height:30px;background:transparent url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_search19x19.png") no-repeat center center;font-size:0;text-indent:-99999px;line-height:0;}
.commonSearch select {height:38px;margin:0 0 0 4px;}
.commonSearch .btnSearch {width:98px;height:38px;margin:0 0 0 4px;border-radius:5px;background:#969937;color:#fff;font-size:14px;line-height:20px;}
.commonSearch {}

/* FONT */
.commfont1s {color:#333;font-size:14px;line-height:16px;}

/* BORDER */
.linezero {border:0 !important;}
.lineBzero {border-bottom:0 !important;}
.lineTzero {border-top:0 !important;}
td.nodata, li.nodata {width:100% !important;padding:200px 15px 80px !important;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_nodata104x104.png") no-repeat center 80px !important;color:#888 !important;font-size:16px !important;text-align:center !important;line-height:20px !important;}

/* 유의사항 */
.usage-guide {}
.usage-guide .stit {padding:25px 0 0;color:#333;font-size:14px;line-height:18px;}
.usage-guide ul {width:100%;}
.usage-guide ul li {margin:10px 0 0;padding:0 0 0 8px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bar_2x2.gif") no-repeat 0 7px;color:#888;font-size:12px;line-height:18px;}

/* TITLE */
.cont-title1 {width:1020px;margin:0 auto;padding:16px 0 13px;border-bottom:2px solid #666;color:#000;font-size:30px;line-height:40px;}
.cont-title2 {width:1020px;margin:0 auto;padding:30px 0 20px;border-bottom:2px solid #666;color:#969937;font-size:34px;line-height:40px;font-weight:400}
.cont-title3 {width:1020px;margin:0 auto;padding:28px 0 13px;color:#000;font-size:30px;line-height:40px;}
.cont-title2 .star {display:inline-block;margin:0 0 0 15px;font-size:36px;line-height:40px;}
.cont-title2 .btnStar {float:right;width:50px;height:50px;margin-top:-10px;border:1px solid #e6e6e6;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_star30x30_off.png") no-repeat center 10px;}
.cont-title2 .btnStar.on {background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_star30x30_on.png") no-repeat center 10px;}


.sub-title1 {width:1020px;margin:0 auto;padding:25px 0 0;color:#333;font-size:20px;line-height:34px;word-spacing:-3px}
.sub-title2 {width:1020px;color:#333;font-size:20px;font-weight:400}
.sub-title2 > span {color:#f47330}
.sub-title2.underline {padding-bottom:10px;border-bottom:1px solid #666}
.sub-title3 {width:1020px;margin:0 auto;padding:27px 0 10px;color:#4c4c4c;font-size:18px;line-height:22px}
.sub-title4 {width:1020px;margin:0 auto;padding:27px 0 10px;color:#333;font-size:16px;line-height:22px}
.sub-title5 {width:1020px;margin:0 auto;padding:16px 0 7px;color:#4c4c4c;font-size:16px;line-height:22px}
.sub-title6 {width:1020px;margin:0 auto;padding:55px 0 0;color:#333;font-size:34px;text-align:center;line-height:40px}
.sub-title7 {width:1020px;margin:0 auto;padding:40px 0 10px;color:#969937;font-size:18px;text-align:center;line-height:24px;}
.sub-title8 {width:1020px;margin:0 auto;padding:60px 0 16px;border-bottom:1px solid #e5e5e5;text-align:center;color:#000;font-size:26px;line-height:36px;}

.sub-title1.mgT40 {padding:0}

.title-subconts {width:100%;height:100px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bg_subconts.gif") repeat-x 0 0;}
.title-subconts h2 {width:1020px;margin:0 auto;padding:24px 0 0;color:#fff;font-size:40px;line-height:50px;}
.title-area {overflow:hidden;position:relative;width:100%;padding:36px 0 7px;border-bottom:1px solid #666;font-size:0;line-height:0;}
.title-area .tit {float:left;color:#333;font-size:20px;line-height:30px;}
.title-area .tit em {display:inline-block;margin-left:5px;padding:0 0 0;font-style:normal;font-size:12px;line-height:18px;vertical-align:0}
.title-area .btnMore {position:absolute;bottom:10px;right:0;padding:0 15px 0 0;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_arrow6x12.png") no-repeat 100% 3px;color:#666;font-size:14px;line-height:20px;vertical-align:top;}
.autoFull {overflow:hidden;width:1020px !important;margin:0 auto !important;}

/* 스크롤 */
.scroll-w285 {overflow-y:auto;height:285px;}


/* placeholder */
.placeholder_area {position:relative;display:inline-block}
.placeholder_area > label {position:absolute;top:15px !important;left:15px !important;font-size:16px !important;color:#888 !important}

.placeholder_area.middle {height:40px}
.placeholder_area.middle > label {top:9px !important;font-size:14px !important}

/* ETC COMMON */
.mgLine {margin:0 !important;border-top:0 !important;}
.infoUpgr{background:#c0eeff url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/common/bnr_upgrade.gif") 50% 0 no-repeat;text-align:center}
.infoUpgr p{position:relative;width:1020px;height:200px;margin:0 auto}
.infoUpgr a{position:absolute;top:140px;width:47px;height:44px;color:transparent}
.infoUpgr .ie{left:394px}
.infoUpgr .cr{left:460px}
.infoUpgr .ff{left:520px}
.infoUpgr .op{left:582px}


.common-price {position:relative;}
.common-price.basket {margin-top:60px;}
.common-price .list {overflow:hidden;position:relative;border:1px solid #efefef;border-top:2px solid #babc00;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/mypage/bg_conts_1xfull.gif") repeat-y 0 0;}
.common-price.basket .list {background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/bg_conts_1xfull.gif") repeat-y 0 0;}

.common-price .list > li {float:left;width:262px;height:100%;padding:0 0 30px;font-size:0;text-align:center;line-height:0;}
.common-price .list > li:first-child {}
.common-price .list > li:last-child {width:261px;}
.common-price.basket .list > li {width:340px;}
.common-price.basket .list > li:last-child {width:338px;}
.common-price .list > li dl {overflow:hidden;height:95px;}
.common-price .list > li dl dt, .common-price .list > li dl dd {display:block;width:100%;vertical-align:top;}
.common-price .list > li dl dt {padding:36px 0 0;color:#666;font-size:16px;line-height:22px;}
.common-price .list > li dl dd {padding:9px 0 0;color:#f47330;font-size:24px;line-height:30px;}
.common-price .list > li:last-child dl dd {color:#ff2828;font-weight:bold;}
.common-price .list > li dl dd em {display:inline-block;font-style:normal;font-size:16px;line-height:22px;vertical-align:2px;letter-spacing:0;}
.common-price .list > li ul {padding:12px 0 0;}
.common-price .list > li ul li {overflow:hidden;padding:15px 20px 0;font-size:0;text-align:left;line-height:0;}
.common-price .list > li ul li .txt, .common-price .list > li ul li .won {color:#666;font-size:13px;line-height:15px;vertical-align:top;}
.common-price .list > li ul li .txt {float:left;padding:0 0 0 12px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_L7x7.png") no-repeat 0 3px;}
.common-price .list > li ul li .txt em {display:block;font-style:normal;font-size:12px;line-height:18px;}
.common-price .list > li ul li .link {display:inline-block;margin:0 0 0 8px;vertical-align:0;border-bottom:1px solid #9ea000;color:#9ea000;}
.common-price .list > li ul li .won {float:right;}
.common-price .list > li ul li .won input[type="text"] {position:relative;top:-5px;width:66px;height:24px;margin:0 5px 0 0;border:1px solid #e6e6e6;border-radius:0;background:#fff;vertical-align:top;color:#888;font-size:13px;padding:0 3px 0 0;text-align:right;}
.common-price .list > li ul li .won input[type="text"].inp {margin-right:0;border:0;background:transparent;}
.common-price .list > li ul li .won em {display:inline-block;font-style:normal;vertical-align:top;}
.common-price .list > li .minus, .common-price .list > li .sign {display:inline-block;position:absolute;top:53px;width:30px;height:30px;font-size:0;text-indent:-99999px;line-height:0;}
.common-price .list > li .minus {left:248px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_minus.png") no-repeat 0 0;}
.common-price .list > li .sign {right:245px;background:url("https://www.oliveyoung.co.kr/pc-static-root/css/../image/comm/ico_sign.png") no-repeat 0 0;}
.common-price.basket .list > li .minus {left:324px;}
.common-price.basket .list > li .sign {right:324px;}
.common-price .list li ul li .txt .btnSmall {position:relative;top:-8px;width:70px;margin-left:10px;font-weight:normal;line-height:18px;}

.common-price .list li.nodata {display:none;}
.common-price .point-earn {padding:17px 20px 18px 0;border:1px solid #e6e6e6;border-top:0;color:#222;font-size:14px;line-height:18px;text-align:right;}
.common-price .point-earn em {display:inline-block;min-width:70px;padding-left:10px;color:#f47330;font-style:normal;}
.common-price .point-earn em {}

/*-----------------------------------------------------------------------------------------*/

/* 배송상품 테이블 추가 스타일 */
	.tbl_prd_list {
	    width: 100%;
	}
	
	.tbl_prd_list thead th {
	    height: 40px;
	    border-top: 2px solid #d6d6d6;
	    border-bottom: 1px solid #ccc;
	    background: #fafafa;
	}
	
	.tbl_prd_list .tbl_cont_area .tbl_cell.w700 {
	    width: 780px;
	}

	.tbl_prd_list .tbl_cont_area .tbl_cell {
	    display: table-cell;
	    vertical-align: middle;
	}

.tbl_prd_list tbody td .w700 .prd_info {
    padding-left: 165px;
}


.tbl_prd_list tbody td .prd_info {
    display: table-cell;
    position: relative;
    height: 145px;
    padding: 30px 30px 30px 125px;
    border-left: 0;
    text-align: left;
    vertical-align: middle;
}
	
.tbl_prd_list tbody td .w700 .prd_info .prd_img {
    width: 165px;
}

.tbl_prd_list tbody td .prd_info .prd_img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 125px;
    height: 85px;
    margin-top: -42px;
    text-align: center;
}	
	
.tbl_prd_list tbody td .prd_info .prd_img img {
    width: auto !important;
    max-width: 85px;
    height: auto !important;
    max-height: 85px;
}

.tbl_prd_list tbody td .prd_info .prd_name {
    display: inline-block;
    margin-bottom: 5px;
}

.tbl_prd_list tbody td .prd_info .prd_name > span {
    display: block;
    margin-bottom: 4px;
    color: #777;
    font-weight: 700;
}

.tbl_prd_list tbody td .prd_info .prd_name > p {
    overflow: hidden;
    max-height: 36px;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-break: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.tbl_prd_list .tbl_cont_area .tbl_cell.w110 {
    width: 110px;
    border-left: 1px solid #e6e6e6;
}

.tbl_prd_list .tbl_cont_area .tbl_cell {
    display: table-cell;
    vertical-align: middle;
}
	
.tbl_prd_list tbody td {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.tbl_prd_list tbody td .cur_price {
    display: block;
    color: #222;
    font-weight: 700;
}	
 
.tbl_prd_list .tbl_cont_area .tbl_cell.w100 {
    width: 100px;
    border-left: 1px solid #e6e6e6;
}	

.tbl_prd_list tbody td {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.tbl_prd_list tbody td .pur_price {
    display: block;
    color: #f47330;
    font-weight: 700;
}

.tx_num {
    letter-spacing: -0.02em !important;
    font-weight: 700;
}


#title{
   display:inline-block;
   font-size:35px;
   font-weight:bold;
   color:#2D2C2C;
}

.info_dot_list.type2 dd, .info_dot_list.type2 > li {
    color: #666;
    line-height: 18px;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_dot2x2_999.gif) no-repeat 2px 7px;
}

.info_dot_list dd, .info_dot_list > li {
    padding: 0 0 0 7px;
    font-size: 12px;
    color: #999;
    background: url(https://www.oliveyoung.co.kr/pc-static-root/image/comm/ico_dot2x2.gif) no-repeat 0 8px;
}
